@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.left {
  flex: 1.6;
  color: white;
  border-right: 5px solid rgb(100, 100, 100);
  margin-left: -50px;
}

.right {
  flex: 10.4;
  overflow-y: auto;
  margin-right: -50px;
}

.left {
  display: flex;
  flex-direction: column;
}