:root {
  --blue-teal-gradient: linear-gradient(249.06deg, #00C0F7 8.42%, #01DFCB 89.68%);
}

.gradient-background {
  background: var(--blue-teal-gradient);
  color: #fff;
}

body {
  overflow-wrap: break-word;
}

html {
  font-size: 90%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.Container {
  min-height: 100vh;
  display: flex;
}

.left {
  flex: 1.6;
  color: white;
  /* border-right: 5px solid purple; */
  color: #fff;

}

.right {
  flex: 10.4;
  overflow-y: auto;
}

.left {
  display: flex;
}