.authform{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.wrongtext{
    font-size: 13px;
}

.inputreglog{
    width: 300px;
    padding: 10px;
    margin: 10px;
    outline: none;
    color: gray;
}

.wrong{
    width: 300px;
}

.inputreglog{
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 35px;
}

