
.product_name{
    text-align: center;
}
.carousel{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Arrowleftright{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imgs {
    height:200px;
    width:220px;
    margin: 10px;
}

@media only screen and (max-width: 1300px ) {
    .imgs {
        height:180px;
        width:200px;
        margin: 8px;
    }
}
@media only screen and (max-width: 1190px ) {
    .imgs {
        height:170px;
        width:180px;
        margin: 7px;
    }
}
@media only screen and (max-width: 1090px ) {
    .imgs {
        height:160px;
        width:170px;
        margin: 7px;
        border: 10px;
    }
}
@media only screen and (max-width: 990px ) {
    .imgs {
        height:150px;
        width:150px;
        margin: 6px;
    }
    .product_name{
        font-size: 20px;
    }
    .Increment{
        font-size: 35px;
    }
    .Decrement{
        font-size: 35px;
    }
}
@media only screen and (max-width: 830px ) {
    .imgs {
        height:140px;
        width:140px;
        margin: 5px;
    }
    .product_name{
        font-size: 18px;
    }
    .Increment{
        font-size: 30px;
    }
    .Decrement{
        font-size: 30px;
    }
}

@media only screen and (max-width: 675px ) {
    .imgs {
        height:120px;
        width:120px;
        margin: 4px;
    }
    .product_name{
        font-size: 16px;
    }
    .Increment{
        font-size: 25px;
    }
    .Decrement{
        font-size: 25px;
    }
}

@media only screen and (max-width: 552px ) {
    .imgs {
        height:100px;
        width:100px;
        margin: 2px;
    }
    .product_name{
        font-size: 14px;
    }
    .Increment{
        font-size: 20px;
    }
    .Decrement{
        font-size: 20px;
    }
}
@media only screen and (max-width: 435px ) {
    .imgs {
        height:90px;
        width:90px;
        margin: 2px;
    }
    .product_name{
        font-size: 12px;
    }
    .Increment{
        font-size: 15px;
    }
    .Decrement{
        font-size: 15px;
    }
}

@media only screen and (max-width: 377px ) {
    .imgs {
        height:80px;
        width:80px;
        margin: 2px;
    }
    .product_name{
        font-size: 10px;
    }
    .Increment{
        font-size: 15px;
    }
    .Decrement{
        font-size: 15px;
    }
}