.catagory{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.catagoryitem{
    margin-top: 2px;
    background-color: gray ;
    height: 190px;
    width: 180px;
    text-align: center;
    margin: 10px;
}
.card-title{
    text-decoration: none !important;
}