.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
}
.carditem{
    margin: 5px;
    border: 1px solid gray;
}
.product{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
}

.PrevNext{
    display: flex;
    justify-content: center;
}

