/* .card123 {
  width: 5rem;
  height: 5rem;
} */
.card-img-top {
  height: 100px;
  width: 100px;
}

@media only screen and (max-width: 1100px) {
  .text-center {
    font-size: 15px;
  }
}
@media only screen and (max-width: 900px) {
  .text-center {
    font-size: 12px;
  }
}
@media only screen and (max-width: 780px) {
  .text-center {
    font-size: 8px;
  }
  .card-img-top {
    height: 60px;
    width: 60px;
  }
  
}
@media only screen and (max-width: 660px) {
  .text-center {
    font-size: 7px;
  }
  .card-img-top {
    height: 50px;
    width: 50px;
  }
}
@media only screen and (max-width: 550px) {
  .text-center {
    font-size: 6px;
  }
  .card-img-top {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (max-width: 510px) {
    .text-center {
      font-size: 6px;
    }
    .card-img-top {
      height: 30px;
      width: 30px;
    }
  }
  
  @media only screen and (max-width: 470px) {
    .text-center {
      font-size: 5px;
    }
    .card-img-top {
      height: 20px;
      width: 20px;
    }
  }

  @media only screen and (max-width: 420px) {
    .text-center {
      font-size: 4px;
    }
    .card-img-top {
      height: 15px;
      width: 15px;
    }
  }
  @media only screen and (max-width: 390px) {
    .text-center {
      font-size: 4px;
    }
  }