.bar {
  height: 18px;
}
.side {
  float: left;
  width: 15%;
  margin-top: 5px;
}

.middle {
  margin-top: 10px;
  float: left;
  width: 70%;
}

.right {
  text-align: right;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.bar-container {
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .reviewtextitem {
    font-size: 12px;
  }
}

@media only screen and (max-width: 785px) {
  .reviewtextitem {
    font-size: 8px;
  }
  .bar {
    height: 8px;
  }
}
@media only screen and (max-width: 400px) {
  .reviewtextitem {
    font-size: 7px;
  }
  .bar {
    height: 7px;
  }
}

@media only screen and (max-width: 355px) {
  .reviewtextitem {
    font-size: 6px;
  }
  .bar {
    height: 6px;
  }
}
@media only screen and (max-width: 350px) {
  .reviewtextitem {
    font-size: 5px;
  }
  .bar {
    height: 5px;
  }
}