
.col21{
    border: 1px solid green;
    border-radius: 10px;
    padding: 10px;
}
.col21item2{
    display: flex;
    justify-content: space-around;
}

  .bar{
      height: 12px;
  }
  .side {
      float: left;
      width: 12%;
      margin-top:5px;
  }
  
  .middle {
    margin-top:10px;
    float: left;
    width: 70%;
  }
  
  .right {
    text-align: right;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .bar-container {
    /* width: 200px; */
    /* border: 1px solid red; */
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  } 