.image{
  height: 250px;
  width: 450px;
}
.col2{
  display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.product_View{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}


@media only screen and (max-width: 1000px ) {
  .image {
      height: 200px;
      width:400px;
  }
 .card-text1{
  font-size: 12px;
 }
 .card-title1{
  font-size: 15px;
 }
 #button{
   font-size: 12px;
 }
}

@media only screen and (max-width: 800px ) {
  .image {
      height: 150px;
      width:300px;
  }
 .card-text1{
  font-size: 9px;
 }
 .card-title1{
  font-size: 12px;
 }
 #button{
  font-size: 9px;
}
}

@media only screen and (max-width: 560px ) {
  .image {
      height: 140px;
      width:200px;
  }
 .card-text1{
  font-size: 8px;
 }
 .card-title1{
  font-size: 9px;
 }
 #button{
  font-size: 7px;
 }
}
@media only screen and (max-width: 430px ) {
  .image {
      height: 120px;
      width:170px;
  }
 .card-text1{
  font-size: 7px;
 }
 .card-title1{
  font-size: 8px;
 }
 #button{
  font-size: 6px;
 }
}
@media only screen and (max-width: 380px ) {
  .image {
      height: 100px;
      width:150px;
  }
 .card-text1{
  font-size: 6px;
 }
 .card-title1{
  font-size: 7px;
 }
 #button{
  font-size: 5px;
 }
}
@media only screen and (max-width: 340px ) {
  .image {
      height: 90px;
      width:130px;
  }
 .card-text1{
  font-size: 5px;
 }
 .card-title1{
  font-size: 6px;
 }
 #button{
  font-size: 4px;
 }
}