.like {
    cursor: pointer;
    font-size: 15px;
}

.dislike {
    cursor: pointer;
    font-size: 15px;
    margin-left: 2.5%;
}

.Rating {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.likeDislikebutton {
    margin-left: 7%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.LoaderiteminReviewProduct {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.reviewtextitem {
    text-align: center;
    align-items: center;
    font-size: 12px;
}

.col21item2 {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}