body{
  font-family: Arial, Helvetica, sans-serif;
}

.grid{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}



.box-container{
  /* margin-top: 100px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
}
.credit{
  display: flex;
  justify-content: center;
}
.mainfooter{
  /* position:static; */
  /* left: 0; */
  /* height: 400px; */
  bottom: 0;
  width: 100%;
  background-color: #34495E;
  color: white;
}


/* show.js */
.product{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: rgb(119, 116, 112)
}


/* Loader section */
.loader-container{
  /* position: fixed; */
  margin-left:0 ;
  margin-right: 0;
  top:0; left:0;
  height:100vh; 
  width:100%;
  /* z-index: 10000; */
  background:white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader-container img{
  width:25rem;
}

.loader-container.fade-out{
  top:-110%;
  opacity:0;
}





.file{
  height: 100px;
  height: 100px;
}

body{
  background-color: white ;
}


.container1{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  background-color: #2C3E50;
  padding: 14px;
}
li{
  list-style-type: none;
}
ul li{
  text-decoration: none;
  color: rgb(1, 3, 10);
  font-size: 18px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}



